
<div id ="pins" class="transitions-enabled">
	<% @boards.each do |board| %>
		<div class="box">
			<div class="panel panel-default">
				<h2>
					<%=link_to board.name, board%>
				</h2>

				 <h5>By: <%= link_to board.user.username, user_path(board.user.username)%></h5>
				
			</div>
		</div>
		<div class="panel-body">
				
			<%end%>
		</div>
</div>